/* .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
} */

/* .card {
    Change background color
    background-color: white;

    Add border
    border: 1px solid #bacdd8;

    Add space between the border and the content
    padding: 8px;

    border-radius: 12px;
} */

/* .container {
    background-color: blueviolet;
    max-width: 300px;

    Center the container in middle on horizontal axis
    margin: 0 auto;

    Add empty space above the container (20% of the view height) 
    margin-top: 20vh;
} */

/* Styling for the outer container of the cards */
.container {
    background-color: #ded0d0;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    position: relative;
    left: 40%;
    top: 200px
}

/* Styling for the individual cards  */
.card {
    background-color: rgb(241, 210, 170);
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    /* grid-template-columns: 1fr, 1fr; */
    grid-gap: 20px;

}

/* .cards {
    background-color: red;
} */

/* .card-payment {
    position: relative;
    left: 50%;
} */

.card-date {
    padding-left: 5px;
}

.payment-form {
    background-color: rgb(209, 186, 231);
    width: 1000px;
    position: relative;
    left: 31%;
    top: 200px;
}